body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: e0ffcd;
  font-size: 62.5%;
  font-family: 'Kanit', sans-serif;
  font-family: 'Mooli', sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 6rem;
  margin-right: 6rem;
  padding: 0px;
}


.card-title {
  margin: 20px;
  font-size: 2rem;
  text-align: center;
}

.header-container {
  margin-bottom: 3vh;
  text-align: center;
  border-bottom: 5px solid #689F38;
  padding: 6rem 10rem;
  background-color: #e0ffcd;
  position:relative;
}

.card-image {
  width: 16rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  max-width: 100%;
  display: block;
}

.card {
  background-color: whitesmoke;
  border: 0.3rem solid black;
  border-radius: 30px;
  box-shadow: 0.5rem 0.3rem 0.2rem lightslategray;
  width: 15vw;
  height: 48vh;
  padding: 0%;
  margin: 3rem;
  align-items: center;
  transition: all 0.3s
}

.card-description {
  text-align: center;
  font-size: 1rem;
  margin: 0.5rem 0.9rem;
}

#credits {
  position: absolute;
  top: 23.5rem;
  left: 0.3rem;
}

#card1:hover {
  opacity: 0.3;
  scale: 0.5;
}

.animation {
  font-size: 5rem;
  animation: animation, float;
  animation-duration: 3s, 1.7s;
  animation-delay: 150ms, 3s;
  animation-timing-function: ease-in-out, linear;
  animation-iteration-count: 1, infinite;
  text-shadow: 0.25rem 0.15rem 0.1rem lightslategray;;
}

@keyframes animation {
0%{
transform: translateY(-16rem);
}
100%{
transform: translateY(0rem);
}
}

@keyframes float {
0%{
transform: translateY(0rem);
}
25%{
transform: translateY(1rem);
}
75%{
transform: translateY(-1rem);
}
100%{
transform: translateY(0rem);
}
}

@media screen and (min-width:1300px){
  .card {
    width: 15%;
    height: fit-content;
  }
}
@media screen and (max-width:1200px){
  .card {
    width: 35%;
    height: 90%;
  }
}
@media screen and (max-width:800px){
  .card {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width:500px){
  .card {
    width: 100%;
    orientation: portrait;
  }
}