body {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    width: 27vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    height: 55vh;
    justify-content: space-between;
    margin: 1rem;
}
.card-img {
    width: 80%;
}
.card-title {
    font-size: 2.2rem;
    text-transform: uppercase;
}
.card-desc {
    font-size: 1.3rem;
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
