body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding: 40px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;

}

.card-title {
  margin-bottom: 2rem;
  font-size: 50px;
  text-align: center;
}

.header {
  font-weight: 100;
}

.card-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 37rem;
  height: auto;
}

.card {
  background-color: whitesmoke;
  border: 5px solid black;
  box-shadow: 3px black;
  width: auto;
  height: auto;
}


